//------------------------------------------dropdown-menu--------------------------------------------------
.dropdown-menu {
  .dropdown-item {
    padding: .5rem 1rem;
  }

  i {
    font-size: .8rem;
    margin-right: 15px;
  }
}